


 #apDiv1 {
	position: absolute;
	width: 1000px;
	height: 168px;
	z-index: 1;
	border-radius: 10px 10px 10px 10px;
  }
  #apDiv2 {
	margin-left: 3em;
	margin-top: 300px;
	border-radius: 10px 10px 0px 0px;
  }
  #apDiv3 {
	margin-left: 3em;
	margin-top: 90px;
	border-radius: 10px 10px 10px 10px;
  }
   #apDiv4 {
	position: absolute;
	width: 123px;
	height: 34px;
	z-index: 1;
	left: 800px;
	top: 220px;
  }
   #apDiv13 {
	position: absolute;
	width: 225px;
	height: 41px;
	z-index: 2;
	left: 64px;
	top: 1200px;
}
   #apDiv20 {
	position: absolute;
	width: 39px;
	height: 18px;
	z-index: 2;
	left: 700px;
	top: 220px;
}
   #apDiv24 {
	position: absolute;
	width: 531px;
	height: 21px;
	z-index: 1;
	left: 220px;
	top: 175px;
	color: #f57419;
	border-top-color: #175b70;
	font-size: 24px; 
}
     #apDiv25 {
	position: absolute;
	width: 360px;
	height: 30px;
	z-index: 10;
	left: 504px;
	top: 1200px;
	font-size: 12px;
	color: #FFF;
}
#apDiv26 {
	position: absolute;
	width: 576px;
	height: 26px;
	z-index: 11;
	left: 490px;
	top: 1215px;
	font-size: 12px;
	color: #FFF;
}
#apDiv27 {
	position: absolute;
	width: 200px;
	height: 31px;
	z-index: 12;
	font-size: 12px;
	color: #FFF;
	left: 580px;
	top: 1230px;
}
#video1 {
	position: absolute;
	z-index: 7;
	left: 225px;
	top: 430px;
}
#list{
	float: left;
	list-style-type: none;
	padding: 13px;
	background: #003f5e;
	text-align: left;
	margin: -160px;
	border-radius: 7px;
	box-shadow: inset 0px 0px 20px white;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 20px;
}
body{

background-repeat: no-repeat;
background-size: cover;
background-color: #000000;
}

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	color: #000;
}
nav{
	width: 1000px;
	height: 65px;
	margin-top: 160px;
	background: #003f5e;
	border-radius: 10px 10px 10px 10px;
	color: #006680;
}
ul{
margin: auto;
padding-top: 17px;
}

li{
	float: left;
	list-style-type: none;
	padding: 13px;
	background: #003f5e;
	margin: 3px;
	border-radius: 7px;
	box-shadow: inset 0px 0px 10px white;
	margin-top: -5px;
}
nav > ul > li:hover > ul {
	display:block;
	height:25%;
	width: 16%;
	padding: 20px 0px 0px 32px;
	 -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .10s ease;
}
section{
	width: 1000px;
	background: white;
	height: 880px;
	float: left;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
}
footer{
	width: 1000px;
	height: 90px;
	background: #003f5e;
	float: left;
	margin-top: 7px;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 20px;
	font-size: 12px;
	text-align: left;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	color: #1C2123;
	margin-left: 10px;
	font-size: 25px;
	text-align: center;
	border-top: #006680;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	;
	color: 1C2123;
	font-size:20px;
	text-align: left;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	;
	color: 1C2123;
	font-size:15px;
	text-align: left;



}
p{

	font-size: 12px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
	font-weight: normal;
	color: #333;
}
    


/*CLASES*/

.menu:link{
	color: #FFF;
}
.menu:visited{
	color: #FFF;
}
.menu:hover{
	color: #f2c218;
}
.menu:active{
	color: #fd7318;
}
.destacado {
  margin-left: 2em;
}
.mapa{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
}
.aportes{
	margin-left: 2em;
	font-family: Arial, Helvetica, sans-serif;
	color: #1C2123;
	margin-left: 20px;
	font-size: 20px;
	text-align: justify;
	border-top: #006680;

}



